<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <property name="log.path" value="logs/vic.log" />
    <property name="fileLayoutPattern"
              value="%date %level [%thread] %logger{36} [%file : %line] %msg%n" />
    <property name="consoleLayoutPattern"
              value="%date %level [%thread] %logger{36} [%file : %line] %msg%n" />

    <appender name="vic"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${fileLayoutPattern}}
            </pattern>
        </encoder>
    </appender>

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout name="StandardFormat" class="ch.qos.logback.classic.PatternLayout">
            <pattern>${consoleLayoutPattern}</pattern>
        </layout>
    </appender>

    <logger name="com.macxen" level="DEBUG" additivity="false">
        <appender-ref ref="vic" />
        <appender-ref ref="CONSOLE" />
    </logger>

</configuration>